<html>
	<head>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#btn382").click(function(){   
			console.log('entra1')
				console.log('entra')
				$.get("post/list.json", function(data) {
					console.log(data)
					var html = [];
		 
		            /* loop through array */
		            $.each(data, function(index, d){           
		                html.push("titulo : ", d.titulo, ", ",
		                          "texto : ", d.text, ", ","<br>");
		            });
		            $("#div381").html(html.join('')).css("background-color", "orange");
				});
			});
		});

	</script>

	<script type="text/javascript">
		$(document).ready(function() { 
			console.log('entra1')
				console.log('entra')
				$.get("post/list.json", function(data) {
				console.log(data)
				var $select = $('#myselect');

				$.each(data, function(key, val){
   				$select.append('<option id="' + val.id + '">' + val.titulo + '</option>');});
			});
		});

	</script>
	</head>
	<body>

	<a name="#ajax-getjson-example"></a>
	<div id="example-section38">   
	    <div>Car sale report</div>
	    <div id="div381"></div>
	    <button id="btn382" type="button">Click to load car sale report (json type)</button>   
	    &nbsp;<a href="/backend/data/car-sale.json" target="_blank">Original car sale report</a>
	</div>
	
	<select id="myselect">
 
	</select>

	</body>





</html>