<html>
    <head>
        <title>jQuery post form data using .ajax() method by codeofaninja.com</title>
         <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
	</script>
    </head>
<body>
 
<h1>jQuery post form data using .ajax() method</h1>
<div>Fill out and submit the form below to get response.</div>
 
<!-- our form -->  
<form id='userForm'>
    <div><input type='text' name='title' placeholder='Titulo' /></div>
    <div><input type='text' name='text' placeholder='Texto' /></div>
    <div><input type='submit' value='Submit' /></div>
</form>
 



<!-- where the response will be displayed -->
<div id='response'></div>

<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="ejemplo_email_2">Email</label>
    <input type="email" class="form-control" id="ejemplo_email_2"
           placeholder="Introduce tu email">
  </div>
  <div class="form-group">
    <label class="sr-only" for="ejemplo_password_2">Contraseña</label>
    <input type="password" class="form-control" id="ejemplo_password_2" 
           placeholder="Contraseña">
  </div>
  <button type="submit" class="btn btn-default">Entrar</button>
</form>


<script>
$(document).ready(function(){
    $('#userForm').submit(function(){
     
        // show that something is loading
        $('#response').html("<b>Loading response...</b>");
         
        /*
         * 'post_receiver.php' - where you will pass the form data
         * $(this).serialize() - to easily read form data
         * function(data){... - data contains the response from post_receiver.php
         */
        $.ajax({
            type: 'POST',
            url: 'post/guardar.json',
            data: $(this).serialize()
        })
        .done(function(data){
             
            // show the response
            $('#response').html(data);
             
        })
        .fail(function() {
         
            // just in case posting your form failed
            alert( "Posting failed." );
             
        });
 
        // to prevent refreshing the whole page page
        return false;
 
    });
});
</script>
 
</body>
</html>



